* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: calc(100% - 32px);
    max-width: 343px;
    margin: 0 auto;
}

.header {
    background-color: #2E3545;
}

.header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo img {
    width: 128px;
    height: 32px;
    padding: 4.8px 4px;
}

.hamburger-menu img {
    width: 24px;
    height: 24px;
    padding: 2px 0;
}

.background {
    background-image: url('https://cdn.glitch.global/5d37320e-70eb-43dd-a9ff-27d4dba62a10/Base%20Background.png?v=1726666089086');
    background-color: #0f17246e;
    background-blend-mode: multiply;
    width: 375px;
    height: 540px;
}

.intro__text-image img {
    margin: 32px 127px;
    width: 120px;
    height: 24px;
}

.intro__text-image h1 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #F9F9F9;
    margin-bottom: 16px;
}

.intro__text-image p {
    opacity: 1; 
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #F9F9F9;
}

.content-section-button {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 32px;
}

.content-buttons {
    display: flex;
    flex-direction: column; 
    gap: 16px; 
}


.content-button-white {
    width: 343px; 
    height: 46px;
    padding: 12px 18px;
    border-radius: 6px;
  background-color: #2C3444;
    color: white;
    border-block-color: #2C3444;
    border-color: #2C3444;
}

.content-button-blue {
    width: 343px; 
    height: 46px;
    padding: 12px 18px;
    border-radius: 6px;
    background-color: #437EF7;
    color: white;
    border-block-color: #437EF7;
    border-color: #437EF7;
}
.card-row-item h2 {
    width: 343px;
    height: 32px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 12px;
    color: #272D37;
}

.card-row-item  p {
    width: 343px;
    height: 120px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5F6D7E;
}

.card-item-image img
{
    width: 48px;
    height: 48px;
    padding: 8px;
    border-radius: 5px;
    margin-left: 147px;
    margin-right: 147px;
    margin-top: 32px;
    margin-bottom: 16px;
}
.card-item h3 {
  
    width: 343px;
    height: 28px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #272D37;
}

.card-item p {
    width: 343px;
    height: 48px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5F6D7E;
    margin-top: 8px;
    margin-bottom: 16px;
}
.card-item button
{
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #437EF7;
    background-color: #fbfbfb00;
    border-color: #f0f8ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-left: 133px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.intro_2_text h2
{
    width: 343px;
    height: 32px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #272D37;
    margin: 32px 16px 12px 16px;
}

.intro_2_text p 
{
    width: 343px;
    height: 96px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5F6D7E;
    margin-left: 16px;
    margin-right: 16px;
 
}
.intro_2_text img
{
    width: 343px;
    height: 343px;
    margin: 32px 16px;
}

.explore-ideas-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.explore-idea-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%; 
}

.explore-idea-item img {
    margin-right: 20px;
    margin-left: 16px;
    margin-bottom: 104px;
}

.text-content {
    display: flex;
    flex-direction: column;
}

.text-content h5
{
  width: 263px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #272D37;
    margin-top: 32px;
    margin-left: 8px;
}

.text-content p {
    width: 263px;
    height: 54px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #5F6D7E;
    margin: 8px;
}
.text-content-button button  {
  font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #437EF7;
    background-color: #fbfbfb00;
    border-color: #f0f8ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-left: 133px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.text-content-button img  {
  font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #437EF7;
    background-color: #fbfbfb00;
    border-color: #f0f8ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-left: 133px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.item-blue ul li {
  list-style: none; 
  position: relative;
  padding-left: 25px; 
  margin-bottom: 10px;
}

.item-blue ul li::before {
  content: '✔'; 
  position: absolute;
  left: 0;
  color: #ffffff; 
  font-weight: bold; 
}

.info-blue {
  background-color: rgba(43, 99, 217, 1);
}


.info-blue-image img {
    width: 343px;
    height: 343px;
    margin: 32px 16px
}

.info-details h2 {
    width: 343px;
    height: 108px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
    margin: 16px;
    color: white;
}

.info-details ul {
    margin: 16px;
    color: white;
}
.info-details button {
  width: 133px;
    height: 46px;
    display: inline-block;
    padding: 12px 18px 12px 18px;
    border-radius: 6px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    padding-left: 6px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 6px;
    background: rgba(67, 126, 247, 1);
    border: rgba(67, 126, 247, 1);
    color: white;
    box-shadow: 0px 1px 2px 0px rgb(16 24 40 / 4%);
    margin-left: 32px;
    margin-top: 40px;
}

.brand-showcase h3 {
    width: 343px;
    height: 32px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: center;
    margin: 16px;
}
.brand-showcase p 
{
    width: 343px;
    height: 120px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: rgba(95, 109, 126, 1);
    margin: 16px;
}
.brand-showcase-image img
{
  width: 343px;
    height: 399px;
}

.pricing-headline h3 {
    width: 343px;
    height: 32px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(39, 45, 55, 1);
    margin: 16px;
}

.pricing-headline p
{
      width: 343px;
    height: 120px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: rgba(95, 109, 126, 1);
    margin: 16px
}

.flexible-pricing h6 {
  
  border: 1px solid rgba(83, 144, 248, 1);
    background-color: rgba(83, 144, 248, 1);
    text-align: center;
    width: 93px;
    height: 41px;
    gap: 24px;
    border-radius: 5px;
    color: white;
    margin: 45px 148px 8px 148px;
    font-size: 15px;
    padding: 12px;
}
.flexible-pricing span 
{
  display: block;
    width: 236px;
    height: 36px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
    margin: 8px 63px 4px 63px;
}
.flexible-pricing p
{
    width: 45px;
    height: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: rgba(95, 109, 126, 1);
    margin: 4px 165px 24px 165px;
}

.flexible-pricing ul
{
      margin: 24px 40px 8px 40px;
}

.flexible-pricing ul li {
      list-style: none;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    width: 269px;
    height: 24px;
    color: rgba(39, 45, 55, 1);
}

.flexible-pricing ul li::before {
  content: '✔'; 
  position: absolute;
  left: 0;
  color:blue; 
  font-weight: bold;
}

.flexible-pricing ul li:nth-child(4)::before,
.flexible-pricing ul li:nth-child(5)::before,
.flexible-pricing ul li:nth-child(6)::before {
  content: '✘';
  color: rgba(218, 224, 230, 1); 
}


.flexible-pricing button {
  width: 295px;
    height: 46px;
    display: inline-block;
    padding: 12px 18px 12px 18px;
    border-radius: 6px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    padding-left: 6px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 6px;
    background: rgba(67, 126, 247, 1);
    border: rgba(67, 126, 247, 1);
    color: white;
    box-shadow: 0px 1px 2px 0px rgb(16 24 40 / 4%);
    margin-left: 32px;
    margin-top: 40px;
}